/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */

/* Common shared styles */
* {
    margin-left: 1.5%;
    margin-right: 1.5%;
    text-align: center;
    font-family: 'Merriweather', serif;
}

/* header section */
header {
    margin-top: 50px;
}

.header-section {
    /* background-image: url(./assets/Banner.png); */
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url('assets/Banner.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 16px;
    height: 600px;
    margin-bottom: 120px;
}

.header-text,
.header-title {
    color: #FFF;
}

.header-text {
    font-size: 32px;
    font-weight: 400;
    padding-top: 14%;
    padding-bottom: 2%;
    margin: 0;
}

.header-title {
    font-size: 72px;
    font-weight: 900;
    padding: 0 20%;
    margin: 0;
}

/* discount section */
.discount-title,
.discount-text,
.discount-type {
    font-family: Inter;
}

.discount-title {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin:0;
    padding-bottom: 48px;
}

.discount-text {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 16px;
}

.discount-type {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 48px;
}

.discount-img {
    height: 500px;
    margin-bottom: 120px;
}